body {
    background: rgb(52,245,104);
    background: radial-gradient(circle, rgba(52,245,104,1) 0%, rgba(145,74,222,1) 50%, rgba(228,151,217,1) 100%);
}

#js {
    text-align: center;
    text-size-adjust: 20%;
    color: white;
}
#ps {
    margin: 14px, 12px, 7px, 7px;
}
#r {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}
#t {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}
#pa {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}
#f {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}
#a {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}
#n {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}
#j {
    text-align: center;
    text-size-adjust: 40%;
    color: whitesmoke;
}